@import url('./styles/variables.css');
@import url('./styles/reset.css');
@import url('./styles/typography.css');
@import url('./styles/dropdown.css');
@import url('./styles/card.css');
@import url('./styles/controls.css');
@import url('./styles/specs.css');
body {
    background: var(--body-bg);
    font-family: var(--font-system);
}

.grid {
    display: grid;
    grid-template-columns: 250px auto;
    grid-gap: 1em;
    min-height: 100vh;
}

.grid>* {
    padding: 2rem;
}

@media all and (max-width: 700px) {
    .grid>aside,
    .grid>main {
        grid-column: 1 / 3;
    }
    .grid>aside {
        position: sticky;
        top: 0;
    }
}

aside {
    background: var(--black);
}